ui.dimmer{
    transition:background-color .5s ease;
    background-color:transparent;
}
 .ui.centered.card{
    background-color:#f7f7f7;
    vertical-align:middle;
}
 .home-ticker{
    min-width:300px;
}
 .errorText{
    color:red;
    font-style:italic;
    padding:10px;
}
 .full-page-loader{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
 .step{
    padding:10px!important;
}
 .full-page-loader > img{
    animation:1.8s infinite heartbeat;
}
 @keyframes heartbeat {
     0%,50%,100%{
        transform:scale(1);
    }
     25%,75%{
        transform:scale(1.05);
    }
}
 .highcharts-container{
    min-height:30px;
}
 .ui.card.ticker-card{
    max-width:160px;
    max-height:110px;
    background-color: #ffffffeb;
    box-shadow:inset 0 -36px 61px -20px #66666685;
}
 .horizontalSlider___281Ls{
    padding:20px;
}
 .positive{
    background-color:#adff2f;
}
 .negative{
    background-color:#ffc0cb;
}
 #portfolio-table:hover{
    background-color:#F3F4F5;
}
 #portfolio-table:hover,#portfolio-table:focus{
    box-shadow:0 .5em .5em -.4em;
    transform:translateY(-0.25em);
    transition:transform .2s ease-in-out;
}
 .ui.divided.items>.item.portfolio-item:first-child,.ui.divided.items>.item.portfolio-item:last-child,.ui.divided.items>.item.portfolio-item{
    padding:2em!important;
    border-radius:8px;
    margin-bottom:2em;
    background-color:#fff;
}
 .ui.divided.items>.item.portfolio-item:hover,.ui.divided.items>.item.portfolio-item:focus{
    box-shadow:0 .5em .5em -.4em;
    transform:translateY(-0.25em);
    transition:transform .2s ease-in-out;
    box-shadow:0 .5em .5em -.4em;
    transform:translateY(-0.25em);
    transition:transform .2s ease-in-out;
}
 .ui.items>.item.watchlist-item{
    border-radius:2px;
    padding:1em!important;
    background-color:#fff;
    border-radius:2px;
    padding:1em!important;
}
 .ui.items>.item.watchlist-item:hover,.ui.items>.item.watchlist-item:focus{
    transform:translateY(-0.25em);
    box-shadow:3px 3px 4px 2px #ccc;
    transition:transform .2s ease-in-out;
    transform:translateY(-0.25em);
    box-shadow:3px 3px 4px 2px #ccc;
    transition:transform .2s ease-in-out;
}
 .horizontalSlider___281Ls.carousel__slider.carousel__slider--horizontal{
    height:140px;
    width:100vw;
    height:140px;
    width:100vw;
}
 .carousel{
    width:100vw;
    width:100vw;
}
 .ui.button{
    visibility:visible;
    visibility:visible;
}
 .ui.card>.content.raised{
    box-shadow:0 .5em 1.3em -.4em;
}
 .navSearch{
    margin-top:10px;
}
 .ui.secondary.menu .item>img:not(.ui){
    width:16vw;
}
 .ui.inverted.pointing.secondary.navmenu.menu{
    font-size:18px;
}
 .ui.secondary.inverted.pointing.menu.navmenu{
    border-width:0;
    height:60px;
    border-color:#0;
    vertical-align:middle;
}
 .navbar{
    position:relative;
    left:calc(-50vw + 50%);
    height:80px;
    width:100vw;
    box-shadow:inset 0 -36px 61px -20px rgba(0,0,0,0.5);
    background-color:rgba(71,65,85,0.78);
    margin-bottom:1em;
}
 .ui.primary.button.brandButton:hover{
    box-shadow:0 .5em .5em -.4em;
}
 .overview{
    background-color:rgba(71,65,85,0.78);
    margin-top:1.5em;
    color:#fff;
    text-align:center;
    word-wrap:break-word;
    border-radius:4px;
    padding:2em;
    box-shadow:10px 10px 47px -38px rgba(0,0,0,0.35),inset 4px 6px 5px 0 #ffffff26;
}
 .dailyGainLight{
    font-weight:700;
    color:#90ee90;
}
 .dailyLossLight{
    font-weight:700;
    color:#f08080;
}
 .dailyGain{
    font-weight:700;
    color:Green;
}
 .dailyLoss{
    font-weight:700;
    color:red;
}
 .dot___3c3SI.carousel__dot:focus{
    outline:none;
    background-color:#789;
}
 .dot___3c3SI.carousel__dot{
    background-color:#d3d3d3;
    border-radius:30px;
    border-width:0;
    padding:4px;
    margin:4px;
}
 .dot___3c3SI.carousel__dot.carousel__dot--selected{
    background-color:grey;
}
 .mobile-buttons{
    position:fixed;
    bottom:0;
    z-index:100;
    background:#000;
    align-content:center;
    padding:.5em;
    left:0;
    right:0;
}
 body{
    background:#f0f5f4!important;
}
 .homepage{
    background:url(imgs/background_final.webp) no-repeat center center fixed;
    height:100vh;
    position:absolute;
}
 .mobile-buttons .navitem{
    font-size:12px;
}
 .ui.cards>.card.instrument-info{
    width:25em;
}
 .page-padding{
    margin-bottom:6em;
}
 .typewriter{
    overflow:hidden;
    white-space:nowrap;
    margin:0 auto;
    letter-spacing:.15em;
}
 tr,.ui.divided.items>.item.portfolio-item{
    border-radius:8px;
}
 .ui.divided.items>.item.watchlist-item:last-child,.ui.divided.items>.item.watchlist-item:first-child{
    padding:1em!important;
    padding:1em!important;
}
 .buttonBack___1mlaL.carousel__back-button,.buttonNext___2mOCa.carousel__next-button{
    visibility:hidden;
    visibility:hidden;
}
 .ui.image.brandLine{
    height:36px;
    width:auto;
    margin-bottom:-10px;
}
 .item.navitem{
    margin-bottom:auto;
    margin-top:auto;
}
 .ui.card.ticker-card{
    height:90px;
}
 .ui.header.ticker-header{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.masterSpinnerContainer___1Z6hB.carousel__master-spinner-container {
  background-color: #ff000000;
}

.ui.cards>.card:focus-within {
  z-index:9;
}

